/* General App Container */
.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Header */
header {
  width: 100%;
  background-color: #181819e6;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Main Content */
main {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

/* Video Gallery */
.video-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Responsive grid */
  gap: 15px;
  margin-top: 20px;
}

/* Sidebar */
.sidebar {
  width: 200px;
  padding: 15px;
  background: #f4f4f4;
}

/* Video Player */
.video-player {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  width: 100%;
}

.video-player iframe {
  width: 100%;
  height: 450px; /* Adjust for preferred height */
  border-radius: 8px;
  border: none;
}

.video-player h2 {
  font-size: 25px;
  text-align: center;
  color: #333;
  margin-top: 10px;
}

/* Video Thumbnail */
.video-thumbnail {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.video-thumbnail:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.video-thumbnail img {
  width: 100%;
  border-radius: 4px;
}

.video-thumbnail p {
  font-size: 14px;
  text-align: center;
  margin: 5px 0;
}

/* Error Message */
.error-message {
  background-color: #f44336;
  color: white;
  padding: 10px;
  margin: 20px 0;
  text-align: center;
  border-radius: 5px;
}

/* Search Container */
.search-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  flex-wrap: wrap; /* Ensures wrapping on smaller screens */
}

/* Search Bar */
.search-bar {
  padding: 10px;
  font-size: 16px;
  flex: 1;
  min-width: 200px; /* Minimum width for smaller screens */
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 5px;
}

/* Search Button */
.search-button {
  padding: 10px 15px;
  margin-left: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #0056b3;
}

/* Responsive Styles */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
  }

  .video-gallery {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); /* Smaller thumbnails */
  }

  .search-container {
    flex-direction: column;
    gap: 10px;
  }

  .sidebar {
    display: none; /* Hide the sidebar */
  }

  .video-player iframe {
    height: 300px; /* Smaller height for mobile */
  }
}
